@model DgKala.Models.ViewModels.InformationViewModel.ChangePasswordViewModel
@{
    ViewData["Title"] = "تغییر کلمه عبور ";
}

<div class="container">
  
    <main class="profile-user-page default">
        <p></p>
        <div class="container">
            <div class="row">

                <div class="profile-page col-xl-9 col-lg-8 col-md-12 order-2">
                    <div class="row">
                        <div class="col-12">
                            <div class="col-12">
                                <h1 class="title-tab-content">ویرایش کلمه عبور </h1>
                            </div>
                            <div class="content-section default">
                                <div class="row">
                                    <div class="col-12">
                                        <h1 class="title-tab-content">کلمه عبور </h1>
                                    </div>
                                </div>

                                <form asp-action="ChangePassword"method="post">

                                    @if (ViewBag.IsSuccess != null)
                                    {
                                        <div class="alert alert-success">
                                            اطلاعات کاربری شما با موفقیت ویرایش شد 
                                            <script>
                                                // Your delay in milliseconds
                                                var delay = 3000;
                                                setTimeout(function(){ window.location = "https://localhost:44386/Login" }, delay);
                                            </script>
                                        </div>
      
                                    }


                                    <div class="row">
                                        <div class="col-sm-12 col-md-6">
                                            <div class="form-account-title">کلمه عبور قبلی </div>
                                            <div class="form-account-row">
                                                <input asp-for="OldPassword" class="input-field text-right " type="password" placeholder="کلمه عبور قبلی را وارد نمایید">
                                                <span asp-validation-for="OldPassword" class="text-danger"></span>
                                            </div>
                                        </div>
                                        <div class="col-sm-12 col-md-6">
                                            <div class="form-account-title">کلمه عبور جدید</div>
                                            <div class="form-account-row">
                                                <input asp-for="Password" class="input-field" type="password" placeholder=" کلمه عبور جدید را وارد نمایید">
                                                <span asp-validation-for="Password" class="text-danger"></span>
                                            </div>
                                        </div>


                                        <div class="col-sm-12 col-md-6">
                                            <div class="form-account-title">تکرار کلمه عبور </div>
                                            <div class="form-account-row">
                                                <input asp-for="RePassword" class="input-field" type="password" placeholder=" تکرار کلمه عبور را وارد نمایید">
                                                <span asp-validation-for="RePassword" class="text-danger"></span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12 no-padding">

                                    </div>
                                    <div class="col-12 text-center">
                                        <input type="submit"class="btn btn-default btn-lg"value="ذخیره"/>



                                    </div>

                                </form>
                            </div>
                        </div>
                    </div>
                </div>

                <partial name="_SiteBar"/>
            </div>
        </div>
    </main>
</div>
